<h1>ayy</h1>
<form class="poopay" action="/" method="post" id="f1">
<p>name: <input type="text" name="name"></p>
<p>age: <input type="text" name="age"></p>
<p>breed: <input type="text" name="breed"></p>

<input type="submit" value="Submit">
</form>

<p>Submit:
  <!-- <input type="button" form="f1" value="Submit" name="submit"> -->
  <button type="submit" form="f1" value="Submit">submit</button>
</p>
